body {
    background-image: url(/img/fondo.png);
    background-repeat: repeat;
}

input {
    background-color: white;
}

button {
    margin-top: 10px;
    margin-bottom: 20px;
}

button:hover{
    transition: 150ms all;
    transform: scale(1.1);
}

#h1-login{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

a {
    color: darkblue;
    font-family: arial;
    text-decoration: none;
}


a:hover {
    color: white;
}